
# .v4p backup files
*~.xml

# Dynamic plugins .dll
bin/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*~.xml
packages/
nunit_random_seed.tmp

lib/
*.vlb
/lib/FSharp.Core.dll
/lib/FSharp.Core.xml
/lib/FsPickler.CSharp.dll
/lib/FsPickler.CSharp.xml
/lib/FsPickler.dll
/lib/FsPickler.Json.dll
/lib/FsPickler.Json.xml
/lib/FsPickler.xml
/lib/MathNet.Numerics.dll
/lib/MathNet.Numerics.xml
/lib/Microsoft.Cci.CodeModel.dll
/lib/Microsoft.Cci.CodeModel.xml
/lib/Microsoft.Cci.MetadataHelper.dll
/lib/Microsoft.Cci.MetadataHelper.xml
/lib/Microsoft.Cci.MetadataModel.dll
/lib/Microsoft.Cci.MetadataModel.xml
/lib/Microsoft.Cci.MutableMetadataModel.dll
/lib/Microsoft.Cci.MutableMetadataModel.xml
/lib/Microsoft.Cci.PeReader.dll
/lib/Microsoft.Cci.PeReader.xml
/lib/Newtonsoft.Json.dll
/lib/Newtonsoft.Json.xml
/lib/nunit.framework.dll
/lib/nunit.framework.xml
/lib/Ookii.Dialogs.dll
/lib/Ookii.Dialogs.xml
/lib/System.Collections.Immutable.dll
/lib/System.Collections.Immutable.xml
/lib/System.Interactive.dll
/lib/System.Interactive.xml
/lib/System.Reactive.dll
/lib/System.Reactive.xml
/lib/VL.Core.dll
/lib/VL.Core.xml
/lib/VL.CoreLib.dll
/lib/VL.CoreLib.xml
/lib/VL.DevLib.dll
/lib/VL.DevLib.xml
/lib/VVVV.Utils.dll
/lib/VVVV.Utils.xml
